#pageone div:first-child h1 {
	margin: 0;
}

.ui-listview {
	background-color: #f5f5f5;
	padding: 5px;
	border-radius: 8px;
}

.ui-listview > li.baseLI .rightSide {
	margin: 25px;
}

.ui-listview > li.baseLI div.leftSide {
	display: flex;
	flex-direction: row;
	border-right: 1px solid #d5d5d5;
}

.ui-listview > li.baseLI div.leftSide button {
	cursor: pointer;
}

.ui-listview > li.baseLI {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #d5d5d5;
}

.ui-listview > li.baseLI:last-child {
	border-bottom: none;
}

ul li a {
	text-decoration: none;
	color: #000 !important;
}

ul li div:first-child div:first-child {
	width: 120px;
}

ul li img {
	width: 100px;
	height: 100px;
}

@media all and (max-width: 600px) {
	ul li img {
		width: 50px;
		height: 50px;
	}

	ul li div:first-child div:nth-child(2) {
		width: 200px;
	}

	.ui-listview > li.baseLI .rightSide {
		margin: 5px;
	}
}

@media all and (max-width: 400px) {
	ul li div:first-child div:nth-child(2) {
		width: 100px;
	}
}
